<div class="row">
  <div class="span5 well">
    <h1>Atlanta</h1>
    Terry Richardson sed slow-carb jean shorts craft beer. Wes Anderson viral voluptate meggings. Asymmetrical American Apparel reprehenderit bitters locavore Wes Anderson, cliche sriracha. Pariatur Echo Park assumenda, authentic eiusmod enim irure nihil butcher. Portland raw denim Godard cliche, keytar pug narwhal Carles 90's banjo kitsch. 
    <a class="btn" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Frahrahstechtruck.com">Vote</a>
  </div>
  <div class="span5 well">
   <h1>Chicago</h1>
    Terry Richardson sed slow-carb jean shorts craft beer. Wes Anderson viral voluptate meggings. Asymmetrical American Apparel reprehenderit bitters locavore Wes Anderson, cliche sriracha. Pariatur Echo Park assumenda, authentic eiusmod enim irure nihil butcher. Portland raw denim Godard cliche, keytar pug narwhal Carles 90's banjo kitsch. 
    <a class="btn">Vote</a>
  </div>
  <div class="span5 well">
   <h1>Chicago</h1>
    Terry Richardson sed slow-carb jean shorts craft beer. Wes Anderson viral voluptate meggings. Asymmetrical American Apparel reprehenderit bitters locavore Wes Anderson, cliche sriracha. Pariatur Echo Park assumenda, authentic eiusmod enim irure nihil butcher. Portland raw denim Godard cliche, keytar pug narwhal Carles 90's banjo kitsch. 
    <a class="btn">Vote</a>
  </div>
  <div class="span5 well">
   <h1>Chicago</h1>
    Terry Richardson sed slow-carb jean shorts craft beer. Wes Anderson viral voluptate meggings. Asymmetrical American Apparel reprehenderit bitters locavore Wes Anderson, cliche sriracha. Pariatur Echo Park assumenda, authentic eiusmod enim irure nihil butcher. Portland raw denim Godard cliche, keytar pug narwhal Carles 90's banjo kitsch. 
    <a class="btn">Vote</a>
  </div>
  <div class="span5 well">
   <h1>Chicago</h1>
    Terry Richardson sed slow-carb jean shorts craft beer. Wes Anderson viral voluptate meggings. Asymmetrical American Apparel reprehenderit bitters locavore Wes Anderson, cliche sriracha. Pariatur Echo Park assumenda, authentic eiusmod enim irure nihil butcher. Portland raw denim Godard cliche, keytar pug narwhal Carles 90's banjo kitsch. 
    <a class="btn">Vote</a>
  </div>
</div>
