<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if lte IE 7]> <html class="no-js ie7 lt-ie9 lt-ie8"> <![endif]-->
<!--[if lte IE 8]> <html class="no-js ie8 lt-ie9"> <![endif]-->
<!--[if IE 9]> <html class="no-js ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Rah Rah's Tech Truck</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="format-detection" content="telephone=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="assets/css/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="assets/css/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/font-awesome.min.css">
  <link href="assets/css/jazzy.css" rel="stylesheet">
  <link href="assets/css/jazzy-responsive.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/leaflet.css" />
  <!--[if lte IE 8]>
  <link rel="stylesheet" href="assets/css/leaflet.ie.css" />
  <![endif]-->
  <!--[if IE 7]>
  <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css">
  <![endif]-->
  <!--[if lt IE 9]>
  <script src="assets/js/html5shiv.js"></script>
  <![endif]-->
  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="assets/ico/favicon.png">  
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=431448366986838";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

   <div id="wrapper" data-no-turbolink>
    <div id="scroller">
      
      <div id="header" class="header-wrapper">
        <div id="top"></div>
        <div class="header-inner-left" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="40"><div class="overlay"></div></div>
        <div class="header-inner-right" data-stellar-background-ratio="2" data-stellar-vertical-offset="10"></div>
        <section class="header container">
          <div class="row">
            <div class="span2"></div>  
            <div class="span10 nav-fluid">  
              
              
            </div>
          </div>  
          
          <div class="row">
            <div class="span2 brand-fluid2">
              <p class="text-center branding"><img src="jazzy-logo-static.png" alt="" /></p>
              <div class="brand-text">
              <hr/>
              <p class="lead text-center">Rah Rah's Tech Truck connects technology and kids (in underpriviledged neighborhoods) to help kids achieve their dreams.</span></p>
           
              <address class="text-center">
                <strong>Wakaflocka Flame</strong><br>
               
                <a href="http://www.wakaflockabsm.com" target="_blank">visit his website</a><br>
               
              </address>
                 <hr/>
              </div>  
            </div>
            <div class="span10">  
             
                 <div class="row">
                  <div class="citylist well">
                    <h1>Thank You For Voting!!!</h1>
                    
                    <div class="fb-share-button btn btn-large btn-success citybtn" data-href="http://rahrahstechtruck.com" data-width="300" data-type="link"></div>

                    <a class="btn btn-large btn-success citybtn" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Frahrahstechtruck.com">Share Now</a>
                   <p class="cityblurb">Tell all your friends and help get Rah Rah's Tech Truck to your city!</p>
                    
                  </div>
                  
              
                  <div class="citylist well">
                   <h1>Don't See Your City?</h1>
                    We are visiting other cities soon.   <a class="" href="/#contact">Contact us to nominate your city.</a> 
                  </div>
                </div>             
             
            </div>
          </div>  
        </section><!-- End Header -->
      </div><!-- End Header Wrapper -->
      


     <!-- Load Plugins -->
      <script src="assets/jquery/jquery.min.js"></script>
      <script src="assets/js/bootstrap/bootstrap.min.js"></script>
      <script src="assets/js/modernizr.custom.js"></script>
      <script src="assets/js/jquery.stellar.min.js"></script>
      <script src="assets/js/iscroll.js"></script> 
      <script src="assets/js/Chart.min.js"></script>
      <script src="assets/js/jquery.pageslide.min.js"></script>
      <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
      <!-- Load Custom Script -->
      <script src="assets/js/script.js"></script> 
    </div>
  </div>       

</body>
</html>
